
body.form {
  
  #cover {
    flex: 1;
    background: url("img/bg-small.jpg") no-repeat center;
    background-size: cover;
    
    // ONLY FOR DESKTOP
    @media screen and (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
      
      background: url("img/bg-large.jpg") no-repeat center;
      background-size: cover;
    }
    
    &:before {
      content: " ";
    }
    
    .pin {
      text-align: center;
      padding: 70px 10px 0;
      
      img {
        width: 100%;
        max-width: 248px;
        min-width: 70px;
      }
    }
    
    .text {
      color: #58595b;
      background-color: rgba(255, 255, 255, 0.85);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.3em 1em;
      min-width: 190px;
      
      em {
        font-size: 1.2em;
        padding: 0 2em;
      }
      
      strong {
        font-size: 1.9em;
        line-height: 1.2em;
        font-style: italic;
        font-weight: normal;
      }
      
      &:after {
        content: " ";
      }
      
      // ONLY FOR DESKTOP
      @media screen and (min-width: $breakpoint) {
        max-width: 50%;
        &>* {
          max-width: 364px;
        }
      }
      
      // ONLY FOR PHONE
      @media screen and (max-width: ($breakpoint - 1px)) {
        margin-top: -28px;
        
        em {
          margin: 40px 0 20px;
          font-style: normal;
        }
        
        strong {
          margin-bottom: 28px;
          font-size: 1.8em;
          font-style: normal;
          line-height: 1.2em;
        }
      }
    }
  }
}