doctype html
html(lang="en")
  head
    title Nexity
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Damien Doussaud, Namide")
    
    link(href="style.css", rel="stylesheet")
    link(rel="Shortcut Icon" type="image/x-icon" href="img/favicon.png")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='script.js')

  body.form.flex-container-v
  
    header.main
      h1
        a(href='#')
          img(src='img/logo-nexity.png', alt='Logo Nexity')
          span
          | Une belle vie immobilière
  
    #container.flex-container

      #cover
        .pin
          img(src="img/pin-large-text.png", alt="Les clefs de votre financement se trouvent ici")
        .text.txtcenter
          em
            | Remplissez notre formulaire en ligne
            | pour bénéficier de l’offre
          strong
            | Découvrez les programmes
            | correspondant à votre projet
            | d’achat dans le neuf

      form(action="#" method="post")
      
        .grid-1-3
          span.txtright
            | Civilité*

          .grid-3.radio
            label
              input(type="radio" name="gender" value="miss"  required)
              span
                | Mlle

            label
              input(type="radio" name="gender" value="madam")
              span
                | Mme

            label
              input(type="radio" name="gender" value="mister")
              span
                | M.

        .grid-1-3
          label.txtright  Nom*
          input(type="text" name="name" required)

        .grid-1-3
          label.txtright Prénom*
          input(type="text" name="firstName" required)

        .grid-1-3
          label.txtright Code postal*
          input(type="text" name="postalCode" required)

        .grid-1-3
          label.txtright Email*
          input(type="email" name="mail" required)

        .grid-1-3
          label.txtright Téléphone*
          input(type="tel" name="phone" required)

        p
          | Souhaitez-vous recevoir l'actualité
          | immobilière et les offres personnalisées
          | de Nexity ? 

        .grid-3-1.no-label
          .grid-2.radio
            label
              input(type="radio" name="actuality" value="1")
              span
                | oui

            label
              input(type="radio" name="actuality" value="0")
              span
                | non

        p
          | Souhaitez-vous recevoir les offres
          | de nos partenaires ?

        .grid-3-1.no-label
          .grid-2.radio
            label
              input(type="radio" name="offer" value="1")
              span
                | oui

            label
              input(type="radio" name="offer" value="0")
              span
                | non

        .txtcenter.submit
          input(type="submit" value="Valider")

        .txtcenter
          a(href='#') Mentions légales
